@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Tillana', cursive;
}

.navbar{
    background-color: rgb(233, 218, 170);
}

.d1{
    height: 1000px;
    width: auto;
    background-image: url(assets/images/Pokemon_Legends_Arceus_screenhot_01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.boite{
    height: 500px;
}

.pre-order{
    background-color: rgb(233, 218, 170);
}

h1{
    color: rgb(255, 255, 255);
}

.logo{
    height: 80px;
    width: auto;
}

.five_h{
    height: 500px;
}

.footer{
    height: 500px;
    width: auto;
    background-image: url(assets/images/mountains-overlay.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(233, 218, 170);
}

.character{
    background-color: rgb(233, 218, 170);
    font-size: 80px;
}

.logo_arceus{
    height: 200px;
}

.bi{
    font-size: 50px;
    color: #000;
}
